@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');


.base-content {
    margin: 5%;
}

.base-title {
    font-family: 'Advent Pro', sans-serif;
    color: #FF6C22;
}

.base-text {
    font-family: 'Advent Pro', sans-serif;
    color: black;
}